@import "./src/styles/variables.scss";

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  background: linear-gradient(to right, $accent1, $accent2);
  color: $white;
}

.nav-side {
  display: flex;
  align-items: center;
}

nav {
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $white;
  }
}

.logo {
  display: flex;
  align-items: center;
  img {
    height: 40px;
  }
  span {
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 5px;
  }
  padding: 0 1em;
}

.nav-link {
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  padding: 0;
  a {
    padding: 0.5em 1em;
  }
}

.cart {
  position: relative;
  font-size: 2em;
  .cart-counter {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    width: 24px;
    height: 24px;
    top: -5px;
    right: 20px;
    opacity: 1;
    background: rgba($black, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.disabled {
    opacity: 0.8;
    pointer-events: none;
    cursor: none;
  }
}

.active {
  opacity: 1;
  a {
    border-bottom: 3px solid $eton-blue;
  }
}

.edit-mode {
  pointer-events: none;
  user-select: none;
}
