<nav>
  <div class="nav-side">
    <a routerLink="/shop" class="logo">
      <img src="eton-mini.png" alt="logo" />
      <span>EtonDigital</span>
    </a>
    <li routerLinkActive="active" class="nav-link" [class.edit-mode]="editMode">
      <a routerLink="/manage-items">{{
        editMode ? "Edit Item" : "New Item"
      }}</a>
    </li>
  </div>
  <div class="nav-side">
    <li routerLinkActive="active" class="nav-link">
      <a routerLink="/shop">Shop</a>
    </li>
    <li
      routerLinkActive="active-cart"
      class="nav-link cart"
      [class.disabled]="cartCounter === 0 ? true : null"
      *ngIf="!onCartPage"
    >
      <a routerLink="/cart">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
        <div class="cart-counter" *ngIf="cartCounter > 0">
          <span>
            {{ cartCounter }}
          </span>
        </div>
      </a>
    </li>
  </div>
</nav>
