<div class="row">
  <div class="cart-list col-md-10   mx-auto">
    <div class="cart-card" *ngFor="let item of cartItems; let i = index">
      <div class="cart-card__img">
        <img [src]="item.image" [alt]="item.title + item.id" />
      </div>

      <div class="cart-card__label">
        <div class="cart-card__row">
          <div class="title">{{ item.title }}</div>
          <button class="cart-card__control close" (click)="remove(i)">
            <fa-icon [icon]="faWindowClose"></fa-icon>
          </button>
        </div>
        <div class="cart-card__row">
          <div class="cart-card__price">
            <div class="price">{{ item.price }}$</div>
            <div class="count">
              {{ item.counter > 1 ? " x " + item.counter : "" }}
            </div>
          </div>
          <div class="cart-card__controls">
            <button
              class="cart-card__control"
              (click)="decrement(i)"
              [disabled]="item.counter < 2"
            >
              <fa-icon [icon]="faMinusSquare"></fa-icon>
            </button>
            <button class="cart-card__control ml-1" (click)="increment(i)">
              <fa-icon [icon]="faPlusSquare"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-total">
      <div class="cart-total-text">Total:</div>
      <div class="cart-total-price">{{ totalPrice().toFixed(2) }} $</div>
    </div>
    <button (click)="onBuy()" class="cart-buy">
      <p>BUY</p>
    </button>
  </div>
</div>
