/* You can add global styles to this file, and also import other style files */
@import "./src/styles/variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html {
  // font-size: 62.5%;
}
* {
  // box-sizing: border-box;
}
body {
  // font-size: 1.6rem;
  font-family: sans-serif;
  background: $background;
  color: rgba($black, 0.8);
}
